In [1]:
# imports
import pandas as pd
import numpy as np
import os
import datetime
import tradingeconomics as te
from datetime import datetime, timedelta
import matplotlib.pyplot as plt

te.login('86A02B2788834D4:AD2DEAA48B0144C')

pd.set_option('display.max_rows', 15)
pd.set_option('display.max_columns', 15)

## 1. Currency pairs

In [2]:
# te.getSearch(term  = 'EUR', output_type = 'df')

In [3]:
# 51 currency pairs

currency_pairs_ = ['AUDUSD:CUR',
 'EURAUD:CUR',
 'EURBRL:CUR',
 'EURCAD:CUR',
 'EURCHF:CUR',
 'EURCNY:CUR',
 'EURCZK:CUR',
 'EURGBP:CUR',
 'EURHUF:CUR',
 'EURIDR:CUR',
 'EURINR:CUR',
 'EURJPY:CUR',
 'EURKRW:CUR',
 'EURMXN:CUR',
 'EURMYR:CUR',
 'EURNZD:CUR',
 'EURPLN:CUR',
 'EURRON:CUR',
 'EURRUB:CUR',
 'EURSEK:CUR',
 'EURTHB:CUR',
 'EURTRY:CUR',
 'EURUAH:CUR',
 'EURUSD:CUR',
 'EURZAR:CUR',
 'GBPUSD:CUR',
 'USDBRL:CUR',
 'USDCAD:CUR',
 'USDCHF:CUR',
 'USDCNY:CUR',
 'USDCZK:CUR',
 'USDHUF:CUR',
 'USDIDR:CUR',
 'USDINR:CUR',
 'USDJPY:CUR',
 'USDKRW:CUR',
 'USDMXN:CUR',
 'USDMYR:CUR',
 'USDPLN:CUR',
 'USDRON:CUR',
 'USDRUB:CUR',
 'USDSAR:CUR',
 'USDSEK:CUR',
 'USDTHB:CUR',
 'USDTRY:CUR',
 'USDUAH:CUR',
 'USDZAR:CUR',
 'EURUZS:CUR',
 'USDUZS:CUR',
 'EURKZT:CUR',
 'USDKZT:CUR']

In [4]:
currency_pairs = {}

In [5]:
# start_date = '1960-01-01'

In [6]:
# start_date = '2023-01-01'

In [11]:
instrument = 'CL1:COM'

shape = 0

start_date = '1985-01-01'

while shape < 10000:
    df = te.getHistorical(symbol = instrument , output_type = 'df', initDate = start_date)
        
    df.set_index('Date', inplace=True)
    df.index = pd.to_datetime(df.index, format='%d/%m/%Y')
    df.drop('Symbol', axis=1, inplace=True)
    df.sort_index(ascending=True, inplace=True)

    start_date = df.index[-1].strftime('%Y-%m-%d')
    
    shape = df.shape[0]

AUDUSD:CUR
EURAUD:CUR
EURBRL:CUR
EURCAD:CUR
EURCHF:CUR
EURCNY:CUR
EURCZK:CUR
EURGBP:CUR
EURHUF:CUR
EURIDR:CUR
EURINR:CUR
EURJPY:CUR
EURKRW:CUR
EURMXN:CUR
EURMYR:CUR
EURNZD:CUR
EURPLN:CUR
EURRON:CUR
EURRUB:CUR
EURSEK:CUR
EURTHB:CUR
EURTRY:CUR
EURUAH:CUR
EURUSD:CUR
EURZAR:CUR
GBPUSD:CUR
USDBRL:CUR
USDCAD:CUR
USDCHF:CUR
USDCNY:CUR
USDCZK:CUR
USDHUF:CUR
USDIDR:CUR
USDINR:CUR
USDJPY:CUR
USDKRW:CUR
USDMXN:CUR
USDMYR:CUR
USDPLN:CUR
USDRON:CUR
USDRUB:CUR
USDSAR:CUR
USDSEK:CUR
USDTHB:CUR
USDTRY:CUR
USDUAH:CUR
USDZAR:CUR
EURUZS:CUR
USDUZS:CUR
EURKZT:CUR
USDKZT:CUR

In [12]:
pd.set_option('display.max_rows', 5)

## 2. Commodities

In [13]:
# 18 commodities

# all electric things are 1#
# gold 1
# copper, aluminium, 2$

commodities = [
'CO1:COM', # Brent crude oil futures 1 
'NG1:COM', # US Natural gas futures 1
'XB1:COM', # Gasoline futures 1
'NGEU:COM', # EU Natural Gas 1
'XAUUSD:CUR', # Gold 1 
'XAGUSD:CUR', # Silver 2
'HG1:COM', # Copper 2
'JBP:COM', # Steel 2
'XPTUSD:CUR', # Platinum Futures 2
'LB1:COM', # Lumber (Timber, Wood) 2
'LMAHDS03:COM', # Aluminium 2
'LMZSDS03:COM', # Zink 2
'LN1:COM', # Nickel 2
'POL:COM', # Polyethylene - CNY 1
'PVC:COM', # Polyvinyl - CNY 1
'PYL:COM', # Polypropylene - CNY 1
'CRYTR:IND', # CRB Commodity Index 1
'SPGSCITR:IND'] # GSCI Commodity Index 1

commodities_dict = {}

In [14]:
for commodity in commodities:
    print(commodity)
    df = te.getHistorical(symbol = commodity , output_type = 'df', initDate = start_date)
    
    df.set_index('Date', inplace=True)
    df.index = pd.to_datetime(df.index, format='%d/%m/%Y')
    df.drop('Symbol', axis=1, inplace=True)
    df.sort_index(ascending=True, inplace=True)
    
    if(df.shape[0] == 10000):
        last_date = (df.index.tolist()[0] - timedelta(days=1)).strftime('%Y-%m-%d')
        
        df_2 = te.getHistorical(symbol = commodity , output_type = 'df', initDate = start_date, endDate = last_date)

        df_2.set_index('Date', inplace=True)
        df_2.index = pd.to_datetime(df_2.index, format='%d/%m/%Y')
        df_2.drop('Symbol', axis=1, inplace=True)
        df_2.sort_index(ascending=True, inplace=True)
        
        df = pd.concat([df_2, df])
        df.sort_index(ascending=True, inplace=True)
            
    commodities_dict[commodity] = df

CO1:COM
NG1:COM
XB1:COM
NGEU:COM
XAUUSD:CUR
XAGUSD:CUR
HG1:COM
JBP:COM
XPTUSD:CUR
LB1:COM
LMAHDS03:COM
LMZSDS03:COM
LN1:COM
POL:COM
PVC:COM
PYL:COM
CRYTR:IND
SPGSCITR:IND

In [15]:
commodities_dict

{'CO1:COM':              Open     High      Low    Close
 Date
 2023-01-03  85.69  86.6600  81.8600  82.1200
 2023-01-04  82.31  82.7000  77.9200  78.0100
 ...           ...      ...      ...      ...
 2023-11-24  81.40  82.2000  80.1300  80.5800
 2023-11-27  80.40  80.9083  79.6414  79.8533

 [234 rows x 4 columns],
 'NG1:COM':              Open   High    Low   Close
 Date
 2023-01-03  4.005  4.005  3.620  3.6410
 2023-01-04  3.658  3.810  3.595  3.7800
 ...           ...    ...    ...     ...
 2023-11-24  2.897  2.951  2.798  2.8550
 2023-11-27  2.778  2.820  2.728  2.7329

 [234 rows x 4 columns],
 'XB1:COM':               Open    High     Low   Close
 Date
 2023-01-02  2.3867  2.4918  2.3867  2.4886
 2023-01-03  2.4887  2.5002  2.3545  2.3659
 ...            ...     ...     ...     ...
 2023-11-24  2.2241  2.2480  2.1552  2.1651
 2023-11-27  2.1635  2.1766  2.1469  2.1522

 [231 rows x 4 columns],
 'NGEU:COM':              Open    High    Low   Close
 Date
 2023-01-02  70.30  81.150  70.30  77.017
 2023-01-03  79.00  79.000  70.73  72.314
 ...           ...     ...    ...     ...
 2023-11-24  45.97  47.585  45.65  46.657
 2023-11-27  46.50  46.745  44.55  45.135

 [235 rows x 4 columns],
 'XAUUSD:CUR':                 Open     High      Low    Close
 Date
 2023-01-02  1823.600  1823.69  1823.60  1823.69
 2023-01-03  1824.885  1849.89  1824.17  1839.49
 ...              ...      ...      ...      ...
 2023-11-24  1993.835  2003.49  1991.10  2001.97
 2023-11-27  2002.275  2018.06  2000.19  2013.07

 [236 rows x 4 columns],
 'XAGUSD:CUR':                Open     High    Low    Close
 Date
 2023-01-02  23.9300  23.9900  23.93  23.9900
 2023-01-03  23.9892  24.5500  23.86  23.9830
 ...             ...      ...    ...      ...
 2023-11-24  23.6815  24.3359  23.53  24.3000
 2023-11-27  24.2708  24.8055  24.26  24.6795

 [236 rows x 4 columns],
 'HG1:COM':               Open    High     Low   Close
 Date
 2023-01-03  3.8350  3.8620  3.7660  3.7680
 2023-01-04  3.7765  3.8040  3.7180  3.7420
 ...            ...     ...     ...     ...
 2023-11-24  3.7695  3.7933  3.7632  3.7873
 2023-11-27  3.7895  3.8066  3.7743  3.7797

 [234 rows x 4 columns],
 'JBP:COM':               Open    High     Low   Close
 Date
 2023-01-03  4033.0  4052.0  3959.0  4003.0
 2023-01-04  4003.0  4017.0  3955.0  3993.0
 ...            ...     ...     ...     ...
 2023-11-24  3946.0  3981.0  3907.0  3937.0
 2023-11-27  3979.0  3982.0  3915.0  3944.0

 [218 rows x 4 columns],
 'XPTUSD:CUR':                Open        High         Low       Close
 Date
 2023-01-02  1053.00  1073.27002  1046.89417  1067.28601
 2023-01-03  1066.49  1091.98000  1063.65000  1083.87634
 ...             ...         ...         ...         ...
 2023-11-24   913.68   935.91000   906.95800   930.60900
 2023-11-27   929.50   937.29000   924.89500   937.00500

 [236 rows x 4 columns],
 'LB1:COM':              Open   High    Low  Close
 Date
 2023-01-03  475.5  475.5  468.5  468.5
 2023-01-04  475.0  478.5  475.0  475.0
 ...           ...    ...    ...    ...
 2023-11-22  541.5  547.5  536.0  547.0
 2023-11-24  547.0  552.5  543.0  551.5

 [222 rows x 4 columns],
 'LMAHDS03:COM':               Open    High     Low   Close
 Date
 2023-01-03  2369.0  2369.0  2311.0  2311.0
 2023-01-04  2313.5  2323.0  2310.5  2312.5
 ...            ...     ...     ...     ...
 2023-11-24  2219.0  2219.0  2216.0  2216.0
 2023-11-27  2231.5  2242.5  2230.5  2232.0

 [229 rows x 4 columns],
 'LMZSDS03:COM':               Open    High     Low   Close
 Date
 2023-01-03  2977.0  3002.0  2968.0  3002.0
 2023-01-04  2955.0  2992.0  2948.0  2992.0
 ...            ...     ...     ...     ...
 2023-11-24  2550.0  2553.5  2547.0  2553.5
 2023-11-27  2556.0  2569.5  2544.0  2566.5

 [229 rows x 4 columns],
 'LN1:COM':                Open     High      Low    Close
 Date
 2023-01-02  29886.0  29886.0  29886.0  29886.0
 2023-01-03  30958.0  30958.0  30958.0  30958.0
 ...             ...      ...      ...      ...
 2023-11-24  15907.0  15935.0  15890.0  15907.0
 2023-11-27  15907.0  15907.0  15907.0  15907.0

 [236 rows x 4 columns],
 'POL:COM':               Open    High     Low   Close
 Date
 2023-01-03  8081.0  8709.0  7436.0  8071.0
 2023-01-04  8071.0  8230.0  8039.0  8108.0
 ...            ...     ...     ...     ...
 2023-11-24  7825.0  7901.0  7813.0  7841.0
 2023-11-27  7901.0  7901.0  7831.0  7856.0

 [218 rows x 4 columns],
 'PVC:COM':               Open    High     Low   Close
 Date
 2023-01-03  6154.0  6278.0  6050.0  6179.0
 2023-01-04  6179.0  6257.0  6130.0  6186.0
 ...            ...     ...     ...     ...
 2023-11-24  5769.0  5862.0  5768.0  5814.0
 2023-11-27  5831.0  5870.0  5801.0  5843.0

 [218 rows x 4 columns],
 'PYL:COM':               Open    High     Low   Close
 Date
 2023-01-03  7723.0  7815.0  7723.0  7760.0
 2023-01-04  7760.0  7800.0  7755.0  7777.0
 ...            ...     ...     ...     ...
 2023-11-24  7392.0  7438.0  7392.0  7419.0
 2023-11-27  7419.0  7437.0  7401.0  7419.0

 [218 rows x 4 columns],
 'CRYTR:IND':                 Open      High       Low     Close
 Date
 2023-01-02  301.3310  301.3310  301.3310  301.3310
 2023-01-03  293.2618  293.2618  293.2618  293.2618
 ...              ...       ...       ...       ...
 2023-11-24  309.1460  309.1460  309.1460  309.1460
 2023-11-27  309.1460  309.1460  309.1460  309.1460

 [236 rows x 4 columns],
 'SPGSCITR:IND':                 Open      High       Low     Close
 Date
 2023-01-02  3495.765  3495.765  3495.765  3495.765
 2023-01-03  3386.029  3386.029  3386.029  3386.029
 ...              ...       ...       ...       ...
 2023-11-24  3450.425  3450.425  3450.425  3450.425
 2023-11-27  3450.425  3450.425  3450.425  3450.425

 [236 rows x 4 columns]}

## 3. Interest rates

In [7]:
# start_date_ir = '1960-01-01'

In [14]:
start_date_ir = '1960-01-01'

currency_dict = {
    'KZT': 'Kazakhstan',
    'UAH': 'Ukraine',
    'AUD': 'Australia',
    'BRL': 'Brazil',
    'CAD': 'Canada',
    'CHF': 'Switzerland',
    'CNY': 'China',
    'CZK': 'Czech Republic',
    'EUR': 'Euro Area',
    'GBP': 'United Kingdom',
    'HUF': 'Hungary',
    'IDR': 'Indonesia',
    'JPY': 'Japan',
    'KRW': 'South Korea',
    'MXN': 'Mexico',
    'MYR': 'Malaysia',
    'NZD': 'New Zealand',
    'PLN': 'Poland',
    'RUB': 'Russia',
    'SEK': 'Sweden',
    'THB': 'Thailand',
    'TRY': 'Turkey',
    'USD': 'United States',
    'ZAR': 'South Africa',
    'INR': 'India',
    'RON': 'Romania',
    'SAR': 'Saudi Arabia',
    'UZS': 'Uzbekistan'
}
    
mix = ['Japan', 'South Korea', 'Thailand', 'South Africa', 'Saudi Arabia']
ir = ['Ukraine', 'Brazil', 'Kazakhstan', 'Turkey', 'Uzbekistan', 'Czech Republic']

end_date = datetime.now()

date_range = pd.bdate_range(start=start_date_ir, end=end_date)
date_range_formatted = date_range.strftime('%Y-%m-%dT%H:%M:%S')

date_range_formatted = date_range_formatted.tolist()

for i in range(len(date_range_formatted)):
    date_range_formatted[i] = date_range_formatted[i][:10]
    
combined_df = pd.DataFrame(index=date_range_formatted)

combined_df.index = pd.to_datetime(combined_df.index)

for i in currency_dict.values():
    if(i in ir):
        ticker = te.getHistoricalData(country=i, indicator='Interest Rate')[0]["HistoricalDataSymbol"]
        
        df_temp = te.getHistoricalByTicker(ticker = ticker, start_date = start_date_ir, output_type='df')
        df_temp = df_temp[['DateTime', 'Value']]
        df_temp.columns = ['Date', i]
        df_temp['Date'] = df_temp['Date'].apply(lambda x: x[:10])
        df_temp['Date'] = pd.to_datetime(df_temp['Date'])
        df_temp.set_index('Date', inplace=True)
                
        df = df_temp.copy()
        df.sort_index(inplace=True, ascending=False)
    elif(i in mix):
        # interbank rate part
        ticker = te.getHistoricalData(country=i, indicator='Interbank Rate')[0]["HistoricalDataSymbol"]

        df_temp = te.getHistoricalByTicker(ticker = ticker, start_date = start_date_ir, output_type='df')
        df_temp = df_temp[['DateTime', 'Value']]
        df_temp.columns = ['Date', i]
        df_temp['Date'] = df_temp['Date'].apply(lambda x: x[:10])
        df_temp['Date'] = pd.to_datetime(df_temp['Date'])
        df_temp.set_index('Date', inplace=True)

        # interest rate part
        ticker_2 = te.getHistoricalData(country=i, indicator='Interest Rate')[0]["HistoricalDataSymbol"]

        end_date_ir = (df_temp.index[-1] - timedelta(days=1)).strftime('%Y-%m-%d')

        df_temp_2 = te.getHistoricalByTicker(ticker = ticker_2, start_date = start_date_ir, output_type='df')
        df_temp_2 = df_temp_2[['DateTime', 'Value']]
        df_temp_2.columns = ['Date', i]
        df_temp_2['Date'] = df_temp_2['Date'].apply(lambda x: x[:10])
        df_temp_2['Date'] = pd.to_datetime(df_temp_2['Date'])
        df_temp_2.set_index('Date', inplace=True)
        df_temp_2 = df_temp_2[df_temp_2.index <= end_date_ir]

        df = pd.concat([df_temp_2, df_temp])
        df.sort_index(inplace=True, ascending=False)
    else:
        ticker = te.getHistoricalData(country=i, indicator='Interbank Rate')[0]["HistoricalDataSymbol"]
        
        df_temp = te.getHistoricalByTicker(ticker = ticker, start_date = start_date_ir, output_type='df')
        df_temp = df_temp[['DateTime', 'Value']]
        df_temp.columns = ['Date', i]
        df_temp['Date'] = df_temp['Date'].apply(lambda x: x[:10])
        df_temp['Date'] = pd.to_datetime(df_temp['Date'])
        df_temp.set_index('Date', inplace=True)
        
        df = df_temp.copy()    
        df.sort_index(inplace=True, ascending=False)

    combined_df = pd.concat([combined_df, df_temp], axis=1)
    print(i)

combined_df = combined_df.sort_index()
combined_df.ffill(inplace=True)

Czech Republic

In [18]:
"""for i in currency_dict.values():
    
    df_shit = combined_df[i]
    
    plt.figure(figsize=(12, 8))
    plt.plot(df_shit)
    plt.title(f'Interbank Rate {i}')
    plt.xlabel('Date')
    plt.ylabel(i)"""

"for i in currency_dict.values():\n    \n    df_shit = combined_df[i]\n    \n    plt.figure(figsize=(12, 8))\n    plt.plot(df_shit)\n    plt.title(f'Interbank Rate {i}')\n    plt.xlabel('Date')\n    plt.ylabel(i)"

### 3.1. Currency pairs completely fixed

In [19]:
interest_rates = {}

for cur_pair in currency_pairs:
    key = cur_pair[:6]
    base_country = currency_dict[key[:3]]
    risk_country = currency_dict[key[3:6]]
    interest_rates[cur_pair] = (base_country, risk_country)

In [20]:
final_dict = {}

In [21]:
# iterate through all the currency_pairs, and the corresponding interest rate countries
for key, value in interest_rates.items():
    # take the correct currency_pair dataframe
    df_price = currency_pairs[key]
    df_price = df_price[df_price.notna()]
    df_price.sort_index(ascending=True, inplace= True)
    # take the correct home country interest rate
    df_ir_base = combined_df[value[0]]
    df_ir_base = df_ir_base[df_ir_base.notna()]
    df_ir_base.sort_index(ascending=True, inplace= True)
    # take the correct risk country interest rate
    df_ir_risk = combined_df[value[1]]
    df_ir_risk = df_ir_risk[df_ir_risk.notna()]
    df_ir_risk.sort_index(ascending=True, inplace= True)
    
    dates = [df_price.index[0], df_ir_base.index[0], df_ir_risk.index[0]]
    dates_subset = max(dates)
    
    df_price = df_price[df_price.index >= dates_subset]
    df_ir_base = df_ir_base[df_ir_base.index >= dates_subset]
    df_ir_risk = df_ir_risk[df_ir_risk.index >= dates_subset]
    
    final_df = df_price.merge(df_ir_base, left_index=True, right_index=True, how='left')
    final_df = final_df.merge(df_ir_risk, left_index=True, right_index=True, how='left')
    
    final_df.ffill(inplace=True)
    final_df.bfill(inplace=True)
    
    final_df['IR_Diff'] = final_df[value[0]] - final_df[value[1]]
        
    final_dict[key] = final_df

In [22]:
currency_pairs_final = final_dict

### 3.1. Commodities completely fixed

In [23]:
ir_commodities = {}

for commodity in commodities:
    if commodity in ['XAGUSD:CUR', 'HG1:COM', 'JBP:COM', 'XPTUSD:CUR', 'LB1:COM', 'LMAHDS03:COM', 'LMZSDS03:COM', 'LN1:COM']:
        value = 2
    else:
        value = 1
    if(commodity in ['POL:COM', 'PVC:COM', 'PYL:COM']):
        ir_commodities[commodity] = (value, 'China')
    else:
        ir_commodities[commodity] = (value, 'United States')

In [24]:
ir_commodities

{'CO1:COM': (1, 'United States'),
 'NG1:COM': (1, 'United States'),
 'XB1:COM': (1, 'United States'),
 'NGEU:COM': (1, 'United States'),
 'XAUUSD:CUR': (1, 'United States'),
 'XAGUSD:CUR': (2, 'United States'),
 'HG1:COM': (2, 'United States'),
 'JBP:COM': (2, 'United States'),
 'XPTUSD:CUR': (2, 'United States'),
 'LB1:COM': (2, 'United States'),
 'LMAHDS03:COM': (2, 'United States'),
 'LMZSDS03:COM': (2, 'United States'),
 'LN1:COM': (2, 'United States'),
 'POL:COM': (1, 'China'),
 'PVC:COM': (1, 'China'),
 'PYL:COM': (1, 'China'),
 'CRYTR:IND': (1, 'United States'),
 'SPGSCITR:IND': (1, 'United States')}

In [25]:
final_dict_commodities = {}

In [26]:
for key, value in ir_commodities.items():
    
    comm_dict = commodities_dict[key].copy()
    
    comm_dict['Base_IR'] = value[0]
        
    df_ir_risk = combined_df[value[1]].copy()
    df_ir_risk = df_ir_risk[df_ir_risk.notna()]
    df_ir_risk.sort_index(ascending=True, inplace= True)
    
    dates = [comm_dict.index[0],  df_ir_risk.index[0]]
    dates_subset = max(dates)
    
    comm_dict = comm_dict[comm_dict.index >= dates_subset]
    df_ir_risk = df_ir_risk[df_ir_risk.index >= dates_subset]
    
    final_df = comm_dict.merge(df_ir_risk, left_index=True, right_index=True, how='left')
    
    final_df.ffill(inplace=True)
    final_df.bfill(inplace=True)
    
    final_df['Diff_IR'] = final_df.apply(lambda x: x[value[1]] if (x[value[1]] > x['Base_IR']) else x['Base_IR'], axis=1)
    
    final_dict_commodities[key] = final_df

In [27]:
commodities_final = final_dict_commodities

In [28]:
currency_pairs_final

{'AUDUSD:CUR':               Open     High     Low    Close  Australia  United States  \
 Date
 2023-01-31  0.7057  0.70650  0.6982  0.70540       3.07         4.8135
 2023-02-01  0.7056  0.71440  0.7034  0.71350       3.07         4.8135
 ...            ...      ...     ...      ...        ...            ...
 2023-11-24  0.6555  0.65900  0.6547  0.65820       4.07         5.6481
 2023-11-27  0.6578  0.65975  0.6564  0.65975       4.07         5.6481

             IR_Diff
 Date
 2023-01-31  -1.7435
 2023-02-01  -1.7435
 ...             ...
 2023-11-24  -1.5781
 2023-11-27  -1.5781

 [215 rows x 7 columns],
 'EURAUD:CUR':               Open    High     Low    Close  Euro Area  Australia  IR_Diff
 Date
 2023-01-31  1.5367  1.5497  1.5360  1.53950      2.512       3.07   -0.558
 2023-02-01  1.5396  1.5465  1.5354  1.53940      2.483       3.07   -0.587
 ...            ...     ...     ...      ...        ...        ...      ...
 2023-11-24  1.6630  1.6636  1.6587  1.65950      3.935       4.07   -0.135
 2023-11-27  1.6622  1.6665  1.6592  1.65944      3.935       4.07   -0.135

 [215 rows x 7 columns],
 'EURBRL:CUR':                 Open      High       Low     Close  Euro Area  Brazil  IR_Diff
 Date
 2023-01-31  5.550565  5.590323  5.474736  5.510401      2.512   13.75  -11.238
 2023-02-01  5.510401  5.623200  5.470353  5.554610      2.483   13.75  -11.267
 ...              ...       ...       ...       ...        ...     ...      ...
 2023-11-23  5.342469  5.364991  5.316183  5.347213      3.956   12.25   -8.294
 2023-11-24  5.350647  5.373059  5.317418  5.362298      3.935   12.25   -8.315

 [214 rows x 7 columns],
 'EURCAD:CUR':               Open    High     Low    Close  Euro Area  Canada  IR_Diff
 Date
 2023-01-02  1.4491  1.4508  1.4454  1.44720      2.162  4.9350  -2.7730
 2023-01-03  1.4477  1.4505  1.4343  1.44180      2.172  4.9575  -2.7855
 ...            ...     ...     ...      ...        ...     ...      ...
 2023-11-24  1.4931  1.4948  1.4866  1.49140      3.935  5.4950  -1.5600
 2023-11-27  1.4917  1.4948  1.4900  1.49224      3.935  5.4950  -1.5600

 [236 rows x 7 columns],
 'EURCHF:CUR':               Open    High      Low    Close  Euro Area  Switzerland  IR_Diff
 Date
 2023-01-02  0.9862  0.9886  0.98530  0.98600      2.162       -0.753    2.915
 2023-01-03  0.9868  0.9905  0.98380  0.98720      2.172       -0.753    2.925
 ...            ...     ...      ...      ...        ...          ...      ...
 2023-11-24  0.9640  0.9654  0.96290  0.96520      3.935       -0.753    4.688
 2023-11-27  0.9653  0.9659  0.96403  0.96427      3.935       -0.753    4.688

 [236 rows x 7 columns],
 'EURCNY:CUR':                Open     High      Low    Close  Euro Area   China  IR_Diff
 Date
 2023-01-02  7.35740  7.35740  7.35740  7.35740      2.162  2.5000  -0.3380
 2023-01-03  7.35240  7.37950  7.26370  7.30490      2.172  3.2833  -1.1113
 ...             ...      ...      ...      ...        ...     ...      ...
 2023-11-24  7.79686  7.82817  7.79125  7.80948      3.935  2.9676   0.9674
 2023-11-27  7.79686  7.84466  7.79686  7.83103      3.935  2.8500   1.0850

 [236 rows x 7 columns],
 'EURCZK:CUR':               Open     High     Low    Close  Euro Area  Czech Republic  \
 Date
 2023-01-02  24.148  24.1720  24.113  24.1470      2.162            0.17
 2023-01-03  24.147  24.1700  24.037  24.0600      2.172            0.17
 ...            ...      ...     ...      ...        ...             ...
 2023-11-24  24.398  24.4300  24.327  24.4000      3.935            0.17
 2023-11-27  24.355  24.4206  24.347  24.4206      3.935            0.17

             IR_Diff
 Date
 2023-01-02    1.992
 2023-01-03    2.002
 ...             ...
 2023-11-24    3.765
 2023-11-27    3.765

 [236 rows x 7 columns],
 'EURGBP:CUR':                Open     High      Low    Close  Euro Area  United Kingdom  \
 Date
 2023-01-03  0.87986  0.88622  0.87836  0.88096      2.172          3.8740
 2023-01-04  0.88501  0.88501  0.87835  0.87972      2.170          3.8940
 ...             ...      ...      ...      ...        ...             ...
 2023-11-24  0.87529  0.87529  0.86713  0.86718      3.935          5.3646
 2023-11-27  0.86807  0.86878  0.86747  0.86778      3.935          5.3646

             IR_Diff
 Date
 2023-01-03  -1.7020
 2023-01-04  -1.7240
 ...             ...
 2023-11-24  -1.4296
 2023-11-27  -1.4296

 [235 rows x 7 columns],
 'EURHUF:CUR':               Open    High     Low    Close  Euro Area  Hungary  IR_Diff
 Date
 2023-01-02  397.34  402.60  397.23  399.260      2.162    16.21  -14.048
 2023-01-03  399.06  404.26  398.80  399.840      2.172    16.21  -14.038
 ...            ...     ...     ...      ...        ...      ...      ...
 2023-11-24  379.49  380.88  378.24  379.210      3.935    10.78   -6.845
 2023-11-27  377.90  380.64  377.55  380.014      3.935    10.78   -6.845

 [236 rows x 7 columns],
 'EURIDR:CUR':                  Open        High        Low       Close  Euro Area  \
 Date
 2023-01-02  16563.600  16682.0892  16484.652  16600.7340      2.162
 2023-01-03  16622.058  16676.1630  16344.972  16446.4870      2.172
 ...               ...         ...        ...         ...        ...
 2023-11-24  16943.262  17084.3540  16927.722  17021.0840      3.935
 2023-11-27  16982.055  17045.1690  16900.975  16959.0716      3.935

             Indonesia  IR_Diff
 Date
 2023-01-02     6.6137  -4.4517
 2023-01-03     6.6100  -4.4380
 ...               ...      ...
 2023-11-24     6.9535  -3.0185
 2023-11-27     6.9535  -3.0185

 [236 rows x 7 columns],
 'EURINR:CUR':                  Open       High        Low      Close  Euro Area  India  \
 Date
 2023-01-02  88.446200  88.624268  87.915482  88.222719      2.162   6.86
 2023-01-03  88.147019  88.680651  86.921804  87.293460      2.172   6.85
 ...               ...        ...        ...        ...        ...    ...
 2023-11-24  90.871054  91.290993  90.761674  91.165626      3.935   7.24
 2023-11-27  91.081989  91.394103  90.988862  91.286664      3.935   7.24

             IR_Diff
 Date
 2023-01-02   -4.698
 2023-01-03   -4.678
 ...             ...
 2023-11-24   -3.305
 2023-11-27   -3.305

 [236 rows x 7 columns],
 'EURJPY:CUR':               Open    High     Low   Close  Euro Area   Japan  IR_Diff
 Date
 2023-01-04  138.18  140.76  137.86  140.62      2.170  0.0636   2.1064
 2023-01-05  140.63  141.35  139.96  140.36      2.178  0.0636   2.1144
 ...            ...     ...     ...     ...        ...     ...      ...
 2023-11-24  163.09  163.65  162.71  163.52      3.935  0.0700   3.8650
 2023-11-27  163.57  163.71  162.92  163.14      3.935  0.0700   3.8650

 [234 rows x 7 columns],
 'EURKRW:CUR':                    Open         High          Low        Close  Euro Area  \
 Date
 2023-01-02  1349.205800  1364.062166  1342.157364  1353.039786      2.162
 2023-01-03  1353.039786  1367.840637  1329.380538  1348.938860      2.172
 ...                 ...          ...          ...          ...        ...
 2023-11-24  1417.608060  1432.250204  1411.623870  1425.318883      3.935
 2023-11-27  1423.212120  1433.700888  1420.140750  1424.824776      3.935

             South Korea  IR_Diff
 Date
 2023-01-02         4.03   -1.868
 2023-01-03         4.00   -1.828
 ...                 ...      ...
 2023-11-24         4.00   -0.065
 2023-11-27         4.00   -0.065

 [236 rows x 7 columns],
 'EURMXN:CUR':                Open     High      Low     Close  Euro Area  Mexico  IR_Diff
 Date
 2023-01-31  20.3390  20.4680  20.2525  20.43700      2.512   10.78   -8.268
 2023-02-01  20.4380  20.5050  20.3941  20.43000      2.483   10.78   -8.297
 ...             ...      ...      ...       ...        ...     ...      ...
 2023-11-24  18.7782  18.7782  18.6795  18.69485      3.935   11.50   -7.565
 2023-11-27  18.7782  18.7782  18.6821  18.68829      3.935   11.50   -7.565

 [215 rows x 7 columns],
 'EURMYR:CUR':                 Open      High       Low     Close  Euro Area  Malaysia  \
 Date
 2023-01-02  4.708000  4.710640  4.685560  4.691280      2.162      3.67
 2023-01-03  4.685949  4.702657  4.612143  4.642349      2.172      3.67
 ...              ...       ...       ...       ...        ...       ...
 2023-11-24  5.102604  5.130233  5.092478  5.122734      3.935      3.51
 2023-11-27  5.112113  5.128344  5.105252  5.118517      3.935      3.51

             IR_Diff
 Date
 2023-01-02   -1.508
 2023-01-03   -1.498
 ...             ...
 2023-11-24    0.425
 2023-11-27    0.425

 [236 rows x 7 columns],
 'EURNZD:CUR':               Open    High     Low    Close  Euro Area  New Zealand  IR_Diff
 Date
 2023-01-02  1.6845  1.6898  1.6810  1.68530      2.162         4.65   -2.488
 2023-01-03  1.6864  1.6973  1.6777  1.68820      2.172         4.65   -2.478
 ...            ...     ...     ...      ...        ...          ...      ...
 2023-11-24  1.8027  1.8034  1.7959  1.79710      3.935         5.63   -1.695
 2023-11-27  1.7987  1.8052  1.7962  1.79786      3.935         5.63   -1.695

 [236 rows x 7 columns],
 'EURPLN:CUR':               Open    High     Low    Close  Euro Area  Poland  IR_Diff
 Date
 2023-01-02  4.6707  4.6939  4.6583  4.66540      2.162    6.91   -4.748
 2023-01-03  4.6547  4.6866  4.6547  4.67280      2.172    6.91   -4.738
 ...            ...     ...     ...      ...        ...     ...      ...
 2023-11-24  4.3655  4.3752  4.3536  4.35860      3.935    5.73   -1.795
 2023-11-27  4.3561  4.3664  4.3518  4.35704      3.935    5.73   -1.795

 [236 rows x 7 columns],
 'EURRON:CUR':                 Open      High       Low     Close  Euro Area  Romania  \
 Date
 2023-01-02  4.939120  4.954951  4.913236  4.919873      2.162     7.42
 2023-01-03  4.918914  5.006588  4.851953  4.927513      2.172     7.41
 ...              ...       ...       ...       ...        ...      ...
 2023-11-24  4.966098  4.992179  4.939213  4.961712      3.935     6.10
 2023-11-27  4.961866  4.980849  4.949353  4.966659      3.935     6.10

             IR_Diff
 Date
 2023-01-02   -5.258
 2023-01-03   -5.238
 ...             ...
 2023-11-24   -2.165
 2023-11-27   -2.165

 [236 rows x 7 columns],
 'EURRUB:CUR':                 Open      High      Low     Close  Euro Area  Russia  IR_Diff
 Date
 2023-01-02  78.87860  83.84930  74.4104  74.49500      2.162   10.39   -8.228
 2023-01-03  74.51040  77.61540  73.5110  75.15980      2.172   10.39   -8.218
 ...              ...       ...      ...       ...        ...     ...      ...
 2023-11-24  98.23809  98.23809  95.5969  96.93609      3.935    9.34   -5.405
 2023-11-27  98.23809  98.23809  96.9306  97.03410      3.935    9.34   -5.405

 [203 rows x 7 columns],
 'EURSEK:CUR':                Open     High       Low     Close  Euro Area  Sweden  IR_Diff
 Date
 2023-01-02  11.1496  11.1935  11.12860  11.15700      2.162   2.701   -0.539
 2023-01-03  11.1549  11.1652  11.09890  11.14890      2.172   2.702   -0.530
 ...             ...      ...       ...       ...        ...     ...      ...
 2023-11-24  11.4167  11.4621  11.38780  11.38830      3.935   4.047   -0.112
 2023-11-27  11.4435  11.4585  11.41926  11.42136      3.935   4.047   -0.112

 [236 rows x 7 columns],
 'EURTHB:CUR':                  Open       High        Low      Close  Euro Area  Thailand  \
 Date
 2023-01-02  37.000600  37.064172  36.728401  36.826548      2.162    1.4478
 2023-01-03  36.815886  36.888399  36.055704  36.225510      2.172    1.4542
 ...               ...        ...        ...        ...        ...       ...
 2023-11-24  38.400366  38.876348  38.321574  38.603731      3.935    2.6500
 2023-11-27  38.698965  38.791320  38.346750  38.451834      3.935    2.6500

             IR_Diff
 Date
 2023-01-02   0.7142
 2023-01-03   0.7178
 ...             ...
 2023-11-24   1.2850
 2023-11-27   1.2850

 [236 rows x 7 columns],
 'EURTRY:CUR':                  Open       High        Low      Close  Euro Area  Turkey  \
 Date
 2023-01-19  20.235159  20.380897  20.061580  20.309070      2.393     9.0
 2023-01-20  20.316790  20.462591  20.103120  20.361700      2.417     9.0
 ...               ...        ...        ...        ...        ...     ...
 2023-11-24  31.343072  31.661397  31.198641  31.570610      3.935    40.0
 2023-11-27  31.559066  31.680356  31.348195  31.653217      3.935    40.0

             IR_Diff
 Date
 2023-01-19   -6.607
 2023-01-20   -6.583
 ...             ...
 2023-11-24  -36.065
 2023-11-27  -36.065

 [223 rows x 7 columns],
 'EURUAH:CUR':                  Open       High        Low      Close  Euro Area  Ukraine  \
 Date
 2023-01-26  39.905240  40.359704  39.660288  40.180410      2.468     25.0
 2023-01-27  40.215681  40.258060  39.612760  40.136178      2.492     25.0
 ...               ...        ...        ...        ...        ...      ...
 2023-11-24  39.250800  39.982096  39.160335  39.325705      3.935     16.0
 2023-11-27  39.420675  39.590158  39.384625  39.550098      3.935     16.0

             IR_Diff
 Date
 2023-01-26  -22.532
 2023-01-27  -22.508
 ...             ...
 2023-11-24  -12.065
 2023-11-27  -12.065

 [218 rows x 7 columns],
 'EURUSD:CUR':               Open    High     Low    Close  Euro Area  United States  IR_Diff
 Date
 2023-01-02  1.0700  1.0706  1.0649  1.06620      2.162         4.7672  -2.6052
 2023-01-03  1.0662  1.0683  1.0518  1.05460      2.172         4.7672  -2.5952
 ...            ...     ...     ...      ...        ...            ...      ...
 2023-11-24  1.0903  1.0948  1.0893  1.09390      3.935         5.6481  -1.7131
 2023-11-27  1.0935  1.0958  1.0925  1.09487      3.935         5.6481  -1.7131

 [236 rows x 7 columns],
 'EURZAR:CUR':                Open      High      Low     Close  Euro Area  South Africa  \
 Date
 2023-01-02  18.1085  18.20550  18.0681  18.08640      2.162         7.258
 2023-01-03  18.0890  18.13630  17.8916  17.92650      2.172         7.258
 ...             ...       ...      ...       ...        ...           ...
 2023-11-24  20.3146  20.69549  20.3146  20.51670      3.935         8.367
 2023-11-27  20.3146  20.62109  20.3146  20.60969      3.935         8.367

             IR_Diff
 Date
 2023-01-02   -5.096
 2023-01-03   -5.086
 ...             ...
 2023-11-24   -4.432
 2023-11-27   -4.432

 [236 rows x 7 columns],
 'GBPUSD:CUR':               Open    High     Low    Close  United Kingdom  United States  \
 Date
 2023-01-02  1.2095  1.2098  1.2033  1.20450          3.8740         4.7672
 2023-01-03  1.2044  1.2084  1.1898  1.19660          3.8740         4.7672
 ...            ...     ...     ...      ...             ...            ...
 2023-11-24  1.2530  1.2615  1.2521  1.26030          5.3646         5.6481
 2023-11-27  1.2592  1.2627  1.2588  1.26165          5.3646         5.6481

             IR_Diff
 Date
 2023-01-02  -0.8932
 2023-01-03  -0.8932
 ...             ...
 2023-11-24  -0.2835
 2023-11-27  -0.2835

 [236 rows x 7 columns],
 'USDBRL:CUR':               Open    High     Low   Close  United States  Brazil  IR_Diff
 Date
 2023-01-31  5.1162  5.1410  5.0692  5.0731         4.8135   13.75  -8.9365
 2023-02-01  5.0731  5.1120  5.0418  5.0547         4.8135   13.75  -8.9365
 ...            ...     ...     ...     ...            ...     ...      ...
 2023-11-23  4.9072  4.9085  4.8853  4.9039         5.6412   12.25  -6.6088
 2023-11-24  4.9075  4.9078  4.8815  4.9020         5.6481   12.25  -6.6019

 [219 rows x 7 columns],
 'USDCAD:CUR':               Open    High     Low    Close  United States  Canada  IR_Diff
 Date
 2023-01-02  1.3549  1.3583  1.3522  1.35720         4.7672  4.9350  -0.1678
 2023-01-03  1.3573  1.3685  1.3521  1.36690         4.7672  4.9575  -0.1903
 ...            ...     ...     ...      ...            ...     ...      ...
 2023-11-24  1.3692  1.3711  1.3591  1.36350         5.6481  5.4950   0.1531
 2023-11-27  1.3635  1.3661  1.3622  1.36309         5.6481  5.4950   0.1531

 [236 rows x 7 columns],
 'USDCHF:CUR':               Open    High     Low    Close  United States  Switzerland  \
 Date
 2023-01-02  0.9243  0.9259  0.9229  0.92500         4.7672       -0.753
 2023-01-03  0.9250  0.9398  0.9227  0.93580         4.7672       -0.753
 ...            ...     ...     ...      ...            ...          ...
 2023-11-24  0.8840  0.8848  0.8809  0.88240         5.6481       -0.753
 2023-11-27  0.8820  0.8828  0.8800  0.88072         5.6481       -0.753

             IR_Diff
 Date
 2023-01-02   5.5202
 2023-01-03   5.5202
 ...             ...
 2023-11-24   6.4011
 2023-11-27   6.4011

 [236 rows x 7 columns],
 'USDCNY:CUR':               Open    High     Low    Close  United States   China  IR_Diff
 Date
 2023-01-02  6.9229  6.9321  6.9125  6.92660         4.7672  2.5000   2.2672
 2023-01-03  6.9261  6.9394  6.8781  6.92330         4.7672  3.2833   1.4839
 ...            ...     ...     ...      ...            ...     ...      ...
 2023-11-24  7.1496  7.1609  7.1420  7.14840         5.6481  2.9676   2.6805
 2023-11-27  7.1484  7.1644  7.1433  7.15287         5.6481  2.8500   2.7981

 [236 rows x 7 columns],
 'USDCZK:CUR':               Open    High     Low    Close  United States  Czech Republic  \
 Date
 2023-01-02  22.554  22.682  22.534  22.6220         4.7672            0.17
 2023-01-03  22.627  22.949  22.584  22.7900         4.7672            0.17
 ...            ...     ...     ...      ...            ...             ...
 2023-11-24  22.376  22.393  22.226  22.2920         5.6481            0.17
 2023-11-27  22.281  22.337  22.264  22.3036         5.6481            0.17

             IR_Diff
 Date
 2023-01-02   4.5972
 2023-01-03   4.5972
 ...             ...
 2023-11-24   5.4781
 2023-11-27   5.4781

 [236 rows x 7 columns],
 'USDHUF:CUR':               Open    High     Low    Close  United States  Hungary  IR_Diff
 Date
 2023-01-02  373.15  377.72  372.86  376.030         4.7672    16.21 -11.4428
 2023-01-03  376.18  383.36  375.32  379.020         4.7672    16.21 -11.4428
 ...            ...     ...     ...      ...            ...      ...      ...
 2023-11-24  347.87  348.63  346.39  347.560         5.6481    10.78  -5.1319
 2023-11-27  347.56  348.34  346.43  347.058         5.6481    10.78  -5.1319

 [236 rows x 7 columns],
 'USDIDR:CUR':                Open     High      Low    Close  United States  Indonesia  \
 Date
 2023-01-02  15480.0  15582.0  15480.0  15570.0         4.7672     6.6137
 2023-01-03  15590.0  15610.0  15540.0  15595.0         4.7672     6.6100
 ...             ...      ...      ...      ...            ...        ...
 2023-11-24  15540.0  15605.0  15540.0  15560.0         5.6481     6.9535
 2023-11-27  15530.0  15555.0  15470.0  15490.0         5.6481     6.9535

             IR_Diff
 Date
 2023-01-02  -1.8465
 2023-01-03  -1.8428
 ...             ...
 2023-11-24  -1.3054
 2023-11-27  -1.3054

 [236 rows x 7 columns],
 'USDINR:CUR':               Open    High      Low   Close  United States  India  IR_Diff
 Date
 2023-01-02  82.660  82.780  82.5575  82.745         4.7672   6.86  -2.0928
 2023-01-03  82.674  83.011  82.6410  82.774         4.7672   6.85  -2.0828
 ...            ...     ...      ...     ...            ...    ...      ...
 2023-11-24  83.345  83.386  83.3211  83.340         5.6481   7.24  -1.5919
 2023-11-27  83.294  83.404  83.2850  83.379         5.6481   7.24  -1.5919

 [236 rows x 7 columns],
 'USDJPY:CUR':               Open    High     Low    Close  United States   Japan  IR_Diff
 Date
 2023-01-04  131.01  132.71  129.91  132.620         4.7818  0.0636   4.7182
 2023-01-05  132.62  134.05  131.67  133.400         4.7884  0.0636   4.7248
 ...            ...     ...     ...      ...            ...     ...      ...
 2023-11-24  149.56  149.71  149.18  149.440         5.6481  0.0700   5.5781
 2023-11-27  149.43  149.67  148.76  149.013         5.6481  0.0700   5.5781

 [234 rows x 7 columns],
 'USDKRW:CUR':                Open     High      Low    Close  United States  South Korea  \
 Date
 2023-01-02  1260.94  1274.11  1260.36  1269.03         4.7672         4.03

## 4. Puting the data inside the AWS RDS

In [23]:
import pymysql

host = 'quant-database.cqbsb1eatt20.eu-central-1.rds.amazonaws.com'
user = 'quant_db_admin'
password = 'kr!JgKLQ!8SRs(cw'
db = ''

connection = pymysql.connect(host=host, user=user, password=password, database=db)

cur = connection.cursor()

In [24]:
sql = '''show databases;'''
cur.execute(sql)
cur.fetchall()

(('brano_db_test',),
 ('information_schema',),
 ('model_input_data',),
 ('mysql',),
 ('new_database',),
 ('ohlc',),
 ('performance_schema',),
 ('portfolio_calculations',),
 ('portfolio_weights',),
 ('quant_db',),
 ('sys',))

In [25]:
# sql = '''CREATE DATABASE ohlc;'''
# cur.execute(sql)

In [26]:
sql = '''use ohlc;'''
cur.execute(sql)

0

In [28]:
sql = '''show tables'''
cur.execute(sql)
cur.fetchall()

(('CO1',),
 ('CRYTR',),
 ('HG1',),
 ('JBP',),
 ('LB1',),
 ('LMAHDS03',),
 ('LMZSDS03',),
 ('LN1',),
 ('NG1',),
 ('NGEU',),
 ('POL',),
 ('PVC',),
 ('PYL',),
 ('SPGSCITR',),
 ('XAGUSD',),
 ('XAUUSD',),
 ('XB1',),
 ('XPTUSD',))

In [36]:
"""for currency in currency_pairs_final.keys():  
    df_shit = currency_pairs_final[currency].copy()
    
    plt.figure(figsize=(12, 8))
    plt.plot(df_shit['Close'])
    plt.title(currency)
    plt.xlabel('Date')
    plt.ylabel(i)"""

"for currency in currency_pairs_final.keys():  \n    df_shit = currency_pairs_final[currency].copy()\n    \n    plt.figure(figsize=(12, 8))\n    plt.plot(df_shit['Close'])\n    plt.title(currency)\n    plt.xlabel('Date')\n    plt.ylabel(i)"

### 4.2. Inputing the commodities

In [90]:
import pymysql

host = 'quant-database.cqbsb1eatt20.eu-central-1.rds.amazonaws.com'
user = 'quant_db_admin'
password = 'kr!JgKLQ!8SRs(cw'
db = ''

connection = pymysql.connect(host=host, user=user, password=password, database=db)

cur = connection.cursor()

In [91]:
sql = '''show databases;'''
cur.execute(sql)
cur.fetchall()

(('brano_db_test',),
 ('information_schema',),
 ('model_input_data',),
 ('mysql',),
 ('new_database',),
 ('ohlc',),
 ('performance_schema',),
 ('portfolio_calculations',),
 ('portfolio_weights',),
 ('quant_db',),
 ('sys',))

In [75]:
# sql = '''CREATE DATABASE ohlc;'''
# cur.execute(sql)

In [76]:
sql = '''use ohlc;'''
cur.execute(sql)

0

In [96]:
sql = '''show tables'''
cur.execute(sql)
cur.fetchall()

(('CO1',),
 ('CRYTR',),
 ('HG1',),
 ('JBP',),
 ('LB1',),
 ('LMAHDS03',),
 ('LMZSDS03',),
 ('LN1',),
 ('NG1',),
 ('NGEU',),
 ('POL',),
 ('PVC',),
 ('PYL',),
 ('SPGSCITR',),
 ('XAGUSD',),
 ('XAUUSD',),
 ('XB1',),
 ('XPTUSD',))

In [78]:
sql_creation = '''CREATE TABLE {} (
  Date DATE,
  Open FLOAT,
  High FLOAT,
  Low FLOAT,
  Close FLOAT,
  {} FLOAT,
  {} FLOAT,
  IR_Diff FLOAT
);
'''

In [80]:
sql_insertion = '''INSERT INTO {} VALUES (%s, %s, %s, %s, %s, %s, %s, %s)'''

In [81]:
for key, value in commodities_final.items():
    df_append = value.reset_index()
    base_country = df_append.columns[5]
    risk_country = df_append.columns[6]
        
    base_country = base_country.replace(' ', '_')
    risk_country = risk_country.replace(' ', '_')
    
    database_creation_name = key.split(':')[0]
    
    sql_create_now = sql_creation.format(database_creation_name, base_country, risk_country)
    sql_insert_now = sql_insertion.format(database_creation_name)
        
    df = commodities_final[key].reset_index()
    val = [tuple(row) for row in df.values]
    
    cur.execute(sql_create_now)
    cur.executemany(sql_insert_now, val)

In [82]:
connection.commit()

In [83]:
connection.close()

In [84]:
print('Commodities added!')

Commodities added!

### 4.1. Inputing the currency_pairs

In [86]:
# keys_to_keep = ['AUDUSD:CUR', 'EURAUD:CUR', 'EURBRL:CUR']

# subset_dict = {key: currency_pairs_final[key] for key in keys_to_keep}

In [92]:
import pymysql

host = 'quant-database.cqbsb1eatt20.eu-central-1.rds.amazonaws.com'
user = 'quant_db_admin'
password = 'kr!JgKLQ!8SRs(cw'
db = ''

connection = pymysql.connect(host=host, user=user, password=password, database=db)

cur = connection.cursor()

In [93]:
sql = '''show databases;'''
cur.execute(sql)
cur.fetchall()

(('brano_db_test',),
 ('information_schema',),
 ('model_input_data',),
 ('mysql',),
 ('new_database',),
 ('ohlc',),
 ('performance_schema',),
 ('portfolio_calculations',),
 ('portfolio_weights',),
 ('quant_db',),
 ('sys',))

In [94]:
sql = '''use ohlc;'''
cur.execute(sql)

0

In [95]:
sql = '''show tables'''
cur.execute(sql)
cur.fetchall()

(('CO1',),
 ('CRYTR',),
 ('HG1',),
 ('JBP',),
 ('LB1',),
 ('LMAHDS03',),
 ('LMZSDS03',),
 ('LN1',),
 ('NG1',),
 ('NGEU',),
 ('POL',),
 ('PVC',),
 ('PYL',),
 ('SPGSCITR',),
 ('XAGUSD',),
 ('XAUUSD',),
 ('XB1',),
 ('XPTUSD',))

In [97]:
sql_creation = '''CREATE TABLE {} (
  Date DATE,
  Open FLOAT,
  High FLOAT,
  Low FLOAT,
  Close FLOAT,
  {} FLOAT,
  {} FLOAT,
  IR_Diff FLOAT
);
'''

In [98]:
sql_insertion = '''INSERT INTO {} VALUES (%s, %s, %s, %s, %s, %s, %s, %s)'''

In [99]:
for key, value in currency_pairs_final.items():
    df_append = value.reset_index()
    base_country = df_append.columns[5]
    risk_country = df_append.columns[6]
        
    base_country = base_country.replace(' ', '_')
    risk_country = risk_country.replace(' ', '_')
    
    database_creation_name = key.split(':')[0]
    
    sql_create_now = sql_creation.format(database_creation_name, base_country, risk_country)
    sql_insert_now = sql_insertion.format(database_creation_name)
    
    df = currency_pairs_final[key].reset_index()
    val = [tuple(row) for row in df.values]
    
    cur.execute(sql_create_now)
    cur.executemany(sql_insert_now, val)
    print(key)

AUDUSD:CUR
EURAUD:CUR
EURBRL:CUR
EURCAD:CUR
EURCHF:CUR
EURCNY:CUR
EURCZK:CUR
EURGBP:CUR
EURHUF:CUR
EURIDR:CUR
EURINR:CUR
EURJPY:CUR
EURKRW:CUR
EURMXN:CUR
EURMYR:CUR
EURNZD:CUR
EURPLN:CUR
EURRON:CUR
EURRUB:CUR
EURSEK:CUR
EURTHB:CUR
EURTRY:CUR
EURUAH:CUR
EURUSD:CUR
EURZAR:CUR
GBPUSD:CUR
USDBRL:CUR
USDCAD:CUR
USDCHF:CUR
USDCNY:CUR
USDCZK:CUR
USDHUF:CUR
USDIDR:CUR
USDINR:CUR
USDJPY:CUR
USDKRW:CUR
USDMXN:CUR
USDMYR:CUR
USDPLN:CUR
USDRON:CUR
USDRUB:CUR
USDSAR:CUR
USDSEK:CUR
USDTHB:CUR
USDTRY:CUR
USDUAH:CUR
USDZAR:CUR
EURUZS:CUR
USDUZS:CUR
EURKZT:CUR
USDKZT:CUR

In [100]:
connection.commit()

In [101]:
connection.close()

In [102]:
print('Currency pairs added!')

Currency pairs added!

### 4.3. Inputing the interest rates

In [103]:
import pymysql

host = 'quant-database.cqbsb1eatt20.eu-central-1.rds.amazonaws.com'
user = 'quant_db_admin'
password = 'kr!JgKLQ!8SRs(cw'
db = ''

connection = pymysql.connect(host=host, user=user, password=password, database=db)

cur = connection.cursor()

In [104]:
sql = '''show databases;'''
cur.execute(sql)
cur.fetchall()

(('brano_db_test',),
 ('information_schema',),
 ('model_input_data',),
 ('mysql',),
 ('new_database',),
 ('ohlc',),
 ('performance_schema',),
 ('portfolio_calculations',),
 ('portfolio_weights',),
 ('quant_db',),
 ('sys',))

In [105]:
# sql = '''CREATE DATABASE ohlc;'''
# cur.execute(sql)

In [106]:
sql = '''use ohlc;'''
cur.execute(sql)

0

In [109]:
sql = '''show tables;'''
cur.execute(sql)
# cur.fetchall()

69

In [110]:
sql = '''CREATE TABLE interest_rates (
    Date DATE,
    Kazakhstan FLOAT,
    Ukraine FLOAT,
    Australia FLOAT,
    Brazil FLOAT,
    Canada FLOAT,
    Switzerland FLOAT,
    China FLOAT,
    Czech_Republic FLOAT,
    Euro_Area FLOAT,
    United_Kingdom FLOAT,
    Hungary FLOAT,
    Indonesia FLOAT,
    Japan FLOAT,
    South_Korea FLOAT,
    Mexico FLOAT,
    Malaysia FLOAT,
    New_Zealand FLOAT,
    Poland FLOAT,
    Russia FLOAT,
    Sweden FLOAT,
    Thailand FLOAT,
    Turkey FLOAT,
    United_States FLOAT,
    South_Africa FLOAT,
    India FLOAT,
    Romania FLOAT,
    Saudi_Arabia FLOAT,
    Uzbekistan FLOAT
);
'''
cur.execute(sql)

0

In [142]:
combined_df.dropna(how='all', inplace=True)

In [144]:
pd.set_option('display.max_rows', 15)

In [146]:
df = combined_df.reset_index()
list_of_tuples = [tuple(row) for row in df.values]
list_of_tuples_with_none = [tuple(None if pd.isna(val) else val for val in tpl) for tpl in list_of_tuples]

In [150]:
sql = '''INSERT INTO interest_rates VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

In [157]:
# import the interest ratest in a table
cur.executemany(sql, list_of_tuples_with_none)

12556

In [160]:
connection.commit()

In [161]:
connection.close()